#gamescreen {
    width: 90vw;
    height: 40vh;
    background-color: #8ECAE6;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  #hivebarrier{
    width: 95%;
    height: 95%;
    background-color: #219EBC;
  }
  #QueenBee{
    height: 35%;
  }